<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
            <directory>modulos/*/Tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">modulos</directory>
        </include>
        <exclude>
            <directory suffix=".php">modulos/*/Tests</directory>
        </exclude>
    </coverage>
</phpunit>
